<%= render partial: 'premium_promos', locals: {elements: @top_premium} %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @promos.each do |item| %>
          <%= render partial: 'promo_element', locals: {promo: item} %>
      <% end %>
    </div>
  </div>
  <div class="text-center"><%= will_paginate @promos, renderer: BootstrapPagination::Rails %></div>
</div>
<%= render partial: 'premium_promos', locals: {elements: @bottom_premium} %>