// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time_default
{
  color: blue;
}

.time_crossed_out
{
  color: darkgrey;
  text-decoration: line-through;
}